<h1>Sign Up:</h1>
<form action='/signUp' method='post'>
    <label>Enter Username:
        <input type='text' name='username' id='' required>
    </label>
    <br><br>
    <label>Enter Password:
        <input type='password', name='password' id='' required>
    </label>
    <br><br>
    <input type='submit' value='Sign Up'>
</form>