<h1>Update Password:</h1>
<form action="/updatePassword?_method=PUT" method="post">
  <br><br>
  <label>Change Password:
    <input type="password" name="password" required>
  </label>
  <br><br>
  <label>Confirm New Password:
    <input type="password" name="confirm" required>
  </label>
  <br><br>
  <input type="submit" value="Submit">
</form>
<br> {{> footer}}
<br><br>
<h3><a href='/settings'>SETTINGS</a></h3>
<h3><a href='/logout'>LOGOUT</a></h3>